.event-section {
  color: #fff;
  font-size: 15px;
  margin: 50px 0;
}
.event-header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.event-type {
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: bold;
}
.more {
  cursor: pointer;
  color: #8c94a1;
}

.events {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.event-card {
  width: 25%;
  padding: 5px;
  cursor: pointer;
}

.event-image {
  background-color: #ddd;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.event-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.event-info div {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.event-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 21px;
  height: 42px;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.event-price {
  color: #ffc107;
  font-weight: 600 !important;
  flex: 1; /* Chiếm 1 phần chiều cao */
}

.event-date {
  flex: 1; /* Chiếm 1 phần chiều cao */
}
